name: discord message
on:
  issue_comment:
    types: [created]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
    - name: Discord notification 1
      if: |
        contains(github.event.issue.title, 'az-900')&&
          github.event.comment.user.login == github.event.issue.assignee.login&&
            contains(github.event.comment.body, '/ok')
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL }}
      uses: Ilshidur/action-discord@master
      with:
        args: '개쩌는 {{ github.event.pull_request.user.login }}님이 애저기초 과정을 통과하셨습니다.'
    - name: Discord notification 2
      if: contains(github.event.comment.body, '/support')
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL_2 }}
      uses: Ilshidur/action-discord@master
      with:
        args: '222The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed.'
