name: discord message
on:
  issue_comment:
    types: [created]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
    - name: Discord notification 1
      if: |
        github.triggering_actor == assignee
          #(contains(github.event.comment.body, '/ok') ||
           # contains(github.event.comment.body, '/1'))
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL_1 }}
      uses: Ilshidur/action-discord@master
      with:
        args: '111The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed.'
    - name: Discord notification 2
      if: contains(github.event.comment.body, '/support')
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_URL_2 }}
      uses: Ilshidur/action-discord@master
      with:
        args: '222The project {{ EVENT_PAYLOAD.repository.full_name }} has been deployed.'
