name: Issue Closed Notification

# This workflow runs whenever an issue is closed
on:
  issue_comment:                                     
    types: [created, edited, deleted]

jobs:
  post-message:
    name: Post Celebration Message
    runs-on : ubuntu-latest
    steps:
      - name: Post message
        if: contains(github.event.comment.body, 'yes')   # check the comment if it contains the keywords
        uses: mohan-13/issue-closed-notification-action@v1.0.0
        with:
          discord-webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }
          name: pull request comment
