name: Issue Closed Notification

on:
  issue_comment:
    types: [created, edited, deleted]

jobs:
  post-message:
    name: Post Celebration Message
    runs-on : ubuntu-latest
    steps:
      - name: Issue Closed Notification
        uses: mohan-13/issue-closed-notification-action@v1.0.1
        
