name: Issue Closed Notification

# This workflow runs whenever an issue is closed
on:
  issue_comment:                                     
    types: [created, edited, deleted]

jobs:
  post-message:
    name: Post Celebration Message
    if: contains(github.event.comment.body, '/support')
    runs-on : ubuntu-latest
    steps:
      - name: Post message
        uses: isp829/issue-closed-notification-action@v1.0.0
        with:
          discord-webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
